* {
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

body {
    background-color: green;
    color: white;
}

.center {
    padding: 70px 0;
    border: 5px solid black;
    text-align: center;
    width: 500px;
    margin: auto;
}

.lineheight {
    border: 5px solid black;
    line-height: 200px;
    text-align: center;
}

.lineheight p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.center2 {
    height: 200px;
    position: relative;
    border: 3px solid black;
}

.center2 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center3 {
    border: 5px solid black;
    justify-content: center;
    display: flex;
    height: 200px;
    align-items: center;
    width: 500px;
    margin: auto;
}