* {
    margin: 0;;
    border-collapse: collapse;
    box-sizing: border-box;
}

table {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width: 100%;
}

td, th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddd;
}

th {
    background-color: yellowgreen;
}

tr:hover {
    background-color: darkgray;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

div {
    margin: 20px;
}