* {
    margin: 0; /* use this to center the div */
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 0px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; /* use this to center the div */
}

td, th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddd;
}

th {
    background-color: yellowgreen;
    height: 80px;
}

tr:hover {
    background-color: darkgray;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

div {
    margin: 20px; /* use this to center the div */
}

li {
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}

.links {
    position:-webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: turquoise;
    margin-top: 10px;
    padding-left: 0;
    padding: 10px 10px;
}