* {
    margin: 0; /* use this to center the div */
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 0px;
    outline: 1px solid red;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; /* use this to center the div */
}

td, th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddd;
}

th {
    background-color: yellowgreen;
    height: 80px;
}

tr:hover {
    background-color: darkgray;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

div {
    margin: 20px; /* use this to center the div */
}

li {
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}

.links {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: turquoise;
    padding: 10px 10px;
    float: left;
    width: 50%;
    border-bottom: 10px solid green;
}
ul.menu {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    background-color: turquoise;
    padding: 10px 10px;
    width: 50%;
    border-bottom: 10px solid green;

}


/* img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
*/

p.width {
    width: 600px;
    border: 2px solid black;
    margin: auto;
}

p.maxwidth {
    max-width: 5000px;
    border: 2px solid black;
    margin: auto;
}


.box{
    display: flex;
}
.box1 {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
}
.box2 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
.box3 {
    width: 200px;
    height: 200px;
    top: 70px;
    right: 150px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
}

.box4 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

/* .overflow {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
  }
*/


  .container {
      position: relative;
      border: 3px solid yellow;
  }

  .black-box {
    position: relative;
      border: 2px solid black;
      height: 100px;
      margin: 30px;
  }

  .gray-box {
    position: absolute;
      background-color: lightgray;
      height: 60px;
      width: 70%;
      left: 50px;
      top: 50px;
      z-index: -3;
    
  }

  .green-box {
    position: absolute;
     background: lightgreen;
     width: 35%;
    left: 270px;
    top: -15;
    height: 100px;
  }

  img.img {
      width: 100px;
      height: 100px;
      float: left;
  }
  .overflow {
    width: 50%;
}

/* FLOAT
.div1 {
    background-color: yellow;
    padding: 15px;
    float: left;
    margin: 0;
}

.div2 {
    background-color: green;
    padding: 15px;
    float: left;
    margin: 0;
}

.div3 {
    background-color: red;
    padding: 15px;
    margin: 0;
   
}

*/

/* CLEAR */
.div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div2 {
    padding: 10px;
    border: 3px solid red;
}

.div3 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
}
