* {
    margin: 0;
    border-collapse: collapse;
    
}

body {
    background-color: green;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
}
.nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}