* {
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

body {
    background-color: green;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
}
.nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}

span.a {
    font-size: 20px;
    display: inline;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid blue;
    background-color: yellow;
    color: black;
}

span.b {
    font-size: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid blue;
    background-color: yellow;
    color: black;
}

span.c {
    font-size: 20px;
    display: block;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid blue;
    background-color: yellow;
    color: black;
}