* {
    outline: 1px solid green;
    box-sizing: border-box;
    margin: 0;
    max-width: none;
}

/*

body {
    background-color: black
}

h1, p {
    color: white;
    margin-left: 20px;
    border-color: yellow;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.35);
}

.inside-box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
    opacity: .5;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
    border-color: white;
}

.solid {
    border-style: solid;
   
}

.double {
    border: 10px double white;
   
}

.groove {
    border: 10px groove white;
 
}

.ridge {
    border-style: ridge;
    border-color: red green blue yellow;
    border-width: 10px;
   
}
.inset {
    border: 5px inset white;
}
*/
body {
    margin: auto;
}

.ptag {
    margin: auto;
    border-style: 5px solid black;
    border-bottom: 1px solid blue;
    border-width: thick;
}

.box2 {
    margin: 30px 20px 30px;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    text-align: center;
    border-width: 5px;
    padding: 100px;
}
.box1 {
    width: 300px;
    background-color: white;
    height: 300px;
    color: black;
    text-align: center;
    margin: 20px;
    border: 5px solid black;
}

.boxmodel {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 20px solid black;
}

p {
    border: 5px solid yellow;
    padding: 10px;
}