body {
    background-color: black
}

h1, p {
    color: white;
    margin-left: 20px;
    border-color: yellow;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.35);
}

.inside-box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
    opacity: .5;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
    border-color: white;
}

.solid {
    border-style: solid;
   
}

.double {
    border: 10px double white;
   
}

.groove {
    border: 10px groove white;
 
}

.ridge {
    border-style: ridge;
    border-color: red green blue yellow;
    border-width: 10px;
   
}
.inset {
    border: 5px inset white;
}

.box1 {
    width: 300px;
    background-color: white;
    height: 300px;
}



