body {
    background-color: black
}

h1, p {
    color: navy;
    margin-left: 20px;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.35);
}

.inside-box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
    opacity: .5;
}

.dotted {
    border-style: dotted;
    border-color: white;
    color: white;
}

.dashed {
    border: 5px dashed white;
    color: white;
}

.solid {
    border: 5px solid white;
    color:white;
}

.double {
    border: 10px double white;
    color:white;
}

.groove {
    border: 10px groove white;
    color:white;
}

.ridge {
    border: 10px ridge white;
    color:white;
}

.inset {
    border: 5px inset white;
    color:white;
}




