body {
    background-color: black
}

h1, p {
    color: navy;
    margin-left: 20px;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.35);
}

.inside-box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
    opacity: .5;
}

.dotted {
    border-style: dotted;
    border-color: white;
    color: white;
}