* {
    
    box-sizing: border-box;
    margin: 0px;
    max-width: none;
}

/*

body {
    background-color: black
}

h1, p {
    color: white;
    margin-left: 20px;
    border-color: yellow;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.35);
}

.inside-box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
    opacity: .5;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
    border-color: white;
}

.solid {
    border-style: solid;
   
}

.double {
    border: 10px double white;
   
}

.groove {
    border: 10px groove white;
 
}

.ridge {
    border-style: ridge;
    border-color: red green blue yellow;
    border-width: 10px;
   
}
.inset {
    border: 5px inset white;
}
*/
body {
    margin: auto;
    font-size: 100%;
}

.ptag {
    margin: auto;
    border-style: 5px solid black;
    border-bottom: 1px solid blue;
    border-width: thick;
}

.box2 {
    margin: 30px 20px 30px;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    text-align: center;
    border-width: 5px;
    padding: 100px;
}
.box1 {
    width: 300px;
    background-color: white;
    height: 300px;
    color: black;
    text-align: center;
    margin: 20px;
    border: 5px solid black;
}

.boxmodel {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 20px solid black;
}


h1 {
    text-align: left;
}

h2 {
    text-align: right;
}

h3 {
    text-align: center;
}


.offset {
    margin: 30px;
    border: 20px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}

.justify {
    text-align: justify;
}

h1.text-shadow {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

p.words {
    vertical-align: super;
}

p.font-one {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
p.font-two {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}
p.font-three {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

p.font-four {
    font-family: 'Sofia';
}


.glyphicon, .fa-car, .fa-solid {
    font-size: 10em;
}

.material-icons {
    font-size: 10em;
}

a:link, a:visited {
    background-color: black;
    color: white;
    border: 2px solid green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 100px;
    
}

a:hover, a:active {
    background-color:skyblue;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 100%;
}

/*
ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
    padding: 20px;
    background-color: pink;
}

ol.d {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}
*/

